@import "./variables.scss";
@import "./mixins.scss";

.popup-message {
  //   background-color: rgba(0, 0, 0, 0.1);
  //   backdrop-filter: blur(1px);
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   z-index: 5;

  .popup-message-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    z-index: 10;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    // transform: translate(-50%, -50%);
    // box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    border: solid 1px $color-primary-dark;
    border-radius: $border-radius-md;
    color: $color-success;

    .popup-message-icon {
      font-size: 3rem;
    }

    .popup-message-text {
      color: $color-primary-light-1;
      font-size: $font-size-lg;
      font-weight: 700;
    }
  }
}
